<div class="w-full grid grid-cols-12 bg-gray-100">
    <div class="col-span-3 bg-blue-900 ">
        <h1 class="text-3xl text-center py-3 font-bold text-white">ToolBox</h1>
        <div class="flex justify-center items-center flex-col gap-3 p-3">
            @for (item of inputTypes; track $index) {
            <span (click)="openModal(item)"
                class="bg-white cursor-pointer px-3 py-2 font-semibold rounded-lg w-full text-center ">{{item}}</span>
            }
        </div>
    </div>
    <div class="col-span-9 bg-gray-100 p-5 flex justify-center items-center h-screen">
        <div class="w-full  bg-white rounded-lg p-4">
            <div class="text-center text-3xl  py-3 font-bold">Create your Form</div>
            <form [formGroup]="form">
                @for (input of inputs; track $index) {
                <label class="block my-2 text-base font-medium text-gray-900 dark:text-white" [for]="input.name">{{
                    input.label }}</label>
                <input
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    [type]="input.type" [formControl]="input.control" [placeholder]="input.placeholder"
                    [id]="input.name" />
                }

            </form>

        </div>
    </div>
</div>