<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid page">
    <div class="container-fluid row px-md-5">
      <div class="col-lg-6 py-md-5">
        <h3 class="text-center py-4">Facture N&deg;: 899868</h3>
        <div class="d-flex px-md-3 facture-lines"><span class="me-auto py-3">Date : </span><span
            class="ms-auto py-3">10/12/2022</span>
        </div>
        <div class="d-flex px-md-3 facture-lines"><span class="me-auto py-3"> Prix HT :</span><span
            class="ms-auto py-3">12
            000 dh</span>
        </div>
        <div class="d-flex px-md-3 facture-lines"><span class="me-auto py-3"> Remise</span><span
            class="ms-auto py-3">1200
            dh</span>
        </div>
        <div class="d-flex px-md-3 facture-lines"><span class="me-auto py-3"> Net Commercial HT : </span> <span
            class="ms-auto py-3">
            10800 dh</span>
        </div>
        <div class="d-flex px-md-3 facture-lines"><span class="me-auto py-3"> TVA :</span><span class="ms-auto py-3">
            800 dh</span>
        </div>
        <div class="d-flex px-md-3 facture-lines"><span class="me-auto py-3">Prix Net TTC :</span><span
            class="ms-auto py-3">10000 dh</span>
        </div>
      </div>
      <div class="col-lg-6 pt-5 px-md-5">
        <h3 class="text-center py-4">Accounting Operation</h3>

        <div class="form ">

          <div class="p-3 d-flex flex-wrap ">
            <label class="me-auto mb-3  facture-lines" for="">N&deg;: compte
              debiteurs :</label>
            <input class="input ms-auto" type="number" name="" id="">
          </div>
          <div class="p-3 d-flex flex-wrap "><label class="me-auto mb-3 facture-lines" for="">compte debiteurs
              :</label><input class="input ms-auto" type="text"></div>
          <div class="p-3 d-flex flex-wrap "><label class="me-auto mb-3 facture-lines" for="">N&deg;: compte crediteurs
              :</label><input class="input ms-auto" type="number" name="" id=""></div>
        </div>

        <div class="p-3 d-flex flex-wrap "><label class="me-auto mb-3 facture-lines" for="">compte crediteurs
            :</label><input class="input ms-auto" type="text"></div>

        <div class="p-3 d-flex flex-wrap "><label class="me-auto mb-3 facture-lines" for="">Debit :</label><input
            class="input ms-auto" type="number" name="" id=""></div>
        <div class="p-3 d-flex flex-wrap "><label class="me-auto mb-3 facture-lines" for="">Credit :</label><input
            class="input ms-auto" type="number"></div>
        <div class="p-3 d-flex flex-wrap ">

          <button>
            Enregistrer
            <div class="arrow-wrapper">
              <div class="arrow"></div>

            </div>
          </button>
        </div>
      </div>

    </div>
  </div>

</body>

</html>