<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    -->
</head>

<body>
    <div class="container-fluid heading mb-5">
        <div
            class=" pt-3 px-3 px-lg-5  d-flex justify-content-start justify-content-lg-between align-items-center header">
            <div class="title pt-3">
                <h3>FinAccPro</h3>
            </div>
            <div class="menu d-none d-lg-flex">
                <div class="px-3 pt-3"><a [routerLink]="['/Accounting/LivreJournal']" class=" menu-items  ">Journal</a>
                </div>
                <div class="px-3 pt-3"><a [routerLink]="['/Accounting/BigLivre']" class=" menu-items ">BigLivre</a>
                </div>
                <div class="px-3 pt-3"><a [routerLink]="['/Opeartion']" class=" menu-items ">Opeartions</a>
                </div>
                <div class="px-3 pt-3"><a [routerLink]="['/Accounting']" class=" menu-items ">Accounting</a>
                </div>
            </div>
            <div class="auth d-none d-lg-flex ">
                <button [routerLink]="['/Auth/Register']" class="Btn mx-2">

                    <div class="sign">
                        <i style="color: white;" class=" me-2 fa-solid fa-user-plus">

                        </i>
                    </div>

                    <div class="text">Register</div>
                </button>
                <button [routerLink]="['/Auth/Login']" class="Btn mx-3">

                    <div class="sign">
                        <svg viewBox="0 0 512 512">
                            <path
                                d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z">
                            </path>
                        </svg>
                    </div>

                    <div class="text">Login</div>
                </button>





            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-6 px-lg-5" id="annonce">
                <h1 class="titre">Accounting</h1>
                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing.</h3>
                <a style="--clr: #7808d0" class="button" href="#">
                    <span class="button__icon-wrapper">
                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 15">
                            <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                            </path>
                        </svg>

                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg"
                            width="10" fill="none" viewBox="0 0 14 15">
                            <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                            </path>
                        </svg>
                    </span>
                    Explorer
                </a>
            </div>
            <div class="col-md-6"><img class="img-fluid" src="../../assets/img/Audit-rafiki.svg" alt=""></div>
        </div>
    </div>
    <section class="container probleme">
        <div class="row">
            <h1 class="pb-lg-5">bookkeeping</h1>
            <div class="col-md-6 pe-5 annonce">

                <p>Struggling with the complexities of financial management for your business? Tackling manual
                    bookkeeping, ensuring tax compliance, and making strategic financial decisions can be overwhelming.
                    At FinAccPro, we recognize these challenges and offer a comprehensive solution. Our expert
                    accounting services not only address these pain points but also pave the way for efficient,
                    technology-driven financial management, ensuring your business thrives in the competitive landscape
                </p>
            </div>
            <div class="col-md-6 p-3 ps-lg-5 pe-0">
                <img src="../../assets/img/Business failure-amico.svg" alt="">
            </div>
        </div>
    </section>
    <section class="container-fluid probleme mt-3">
        <div class="row">
            <h1 class="pb-lg-5">Services</h1>
            <div class="col-md-4  annonce services">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae veritatis quo commodi non
                    facilis tempora architecto perferendis cumque odio sunt harum quasi eius eaque laboriosam optio quis
                    at, sed nostrum soluta expedita necessitatibus dolor quaerat. Nemo enim fugit non saepe eveniet,
                    accusamus quia labore et dicta, ducimus illo molestias quas.
                </p>
            </div>
            <div class="col-md-4 p-3">
                <img src="../../assets/img/NFT-amico.svg" alt="">
            </div>
            <div class="col-md-4  annonce services">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sint odit voluptate natus
                    obcaecati ducimus unde quos. Animi, voluptatibus quo harum explicabo optio natus quaerat tempora
                    sapiente dolor odio sit facere esse dolores quibusdam doloribus dolorum magni nesciunt porro
                    accusantium hic quod debitis pariatur. Eos debitis excepturi nobis veritatis expedita.
                </p>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer text-center text-lg-start text-light">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="footer">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3 text-secondary"></i>Company name
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3 text-secondary"></i>

                        </p>
                        <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</body>

</html>