<router-outlet></router-outlet>
<div class="nav py-3">
    <button class="Betn" (click)="OpenNav()">
        <i [@Rotate-button]="isVisible" style="color: white;" class="fa-solid fa-arrow-left"></i>
        <span *ngIf="!isVisible; else elseBlock" class="tooltip">Open</span>
        <ng-template #elseBlock> <span class="tooltip">Close</span></ng-template>

    </button>
    <button class="Betn" [routerLink]="['/Auth/Register']" [@visibilityChanged]="isVisible">
        <i style="color: white;" class="fa-solid fa-user-plus"></i>
        <span class="tooltip">Register</span>
    </button>
    <button class="Betn" [routerLink]="['/Auth/Login']" [@visibilityChanged]="isVisible">
        <i class="fa-solid fa-right-to-bracket" style="color: white;"></i>
        <span class="tooltip">Login</span>
    </button>
    <button class="Betn" [routerLink]="['/Accounting/BigLivre']" [@visibilityChanged]="isVisible">
        <i style="color: white;" class="fa-solid fa-book"></i>
        <span class="tooltip">BigBook</span>
    </button>
    <button class="Betn" [routerLink]="['/Accounting/LivreJournal']" [@visibilityChanged]="isVisible">
        <i style="color: white;" class="fa-regular fa-calendar"></i>
        <span class="tooltip">Journal</span>
    </button>
    <button class="Betn" [routerLink]="['/Accounting']" [@visibilityChanged]="isVisible">
        <i style="color: white;" class="fa-solid fa-receipt"></i>
        <span class="tooltip">Accounting</span>
    </button>
    <button class="Betn" [routerLink]="['/Opeartion']" [@visibilityChanged]="isVisible">
        <i style="color: white;" class="fa-solid fa-gears"></i>
        <span class="tooltip">Operator</span>
    </button>
</div>