<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="header container-fluid d-none d-lg-flex p-2">
    <div class="container d-flex  align-items-center">
      <h3>FanAccPro</h3>
      <div class="nav-bar d-flex justify-content-center align-items-center mx-auto">
        <div class="items px-5"><span>Journal</span></div>
        <div class="items px-5"><span>BigLivre</span></div>
        <div class="items px-5"><span>Accounting</span></div>
      </div>
    </div>
  </div>
  <div class="container-fluid pt-5 operations-container">
    <div>

      <div class="container table-container py-3">
        <h3 class=" table-title p-3">Operations</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Description</th>
              <th>Label</th>
              <th>Explore</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>10/12</td>
              <td>Ventes</td>
              <td>Ventes de Camion</td>
              <td class="">Facture : N&deg;98765 <br></td>

              <td><a [routerLink]="['/Accounting/1']" class="btn btn-dark">Detail</a></td>
            </tr>
            <!---->
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat de matiere premieres</td>
              <td>Bon : N&deg;98765</td>

              <td><a [routerLink]="['/Accounting/2']" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat d`emballage</td>
              <td class="">Facture : N&deg;98765 <br></td>

              <td><a [routerLink]="['/Accounting/3']" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat d`emballage</td>
              <td class="">Facture : N&deg;98765 <br></td>

              <td><a [routerLink]="['/Accounting/4']" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat d`emballage</td>
              <td class="">Facture : N&deg;98765 <br></td>

              <td><a [routerLink]="['/Accounting/5']" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat d`emballage</td>
              <td class="">Facture : N&deg;98765 <br></td>

              <td><a [routerLink]="['/Accounting/6']" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat d`emballage</td>
              <td class="">Facture : N&deg;98765 <br>
                Facture : N&deg;98765 <br>
              </td>

              <td><a [routerLink]="['/Accounting/7']" class="btn btn-dark">Detail</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>