<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="header container-fluid d-none d-lg-flex p-3">
    <div class="container d-flex justify-content-between align-items-center">
      <h1>FanAccPro</h1>
      <div class="auth d-none d-lg-flex ">
        <button [routerLink]="['/Auth/Register']" class="Btn mx-2">

          <div class="sign">
            <i style="color: white;" class=" me-2 fa-solid fa-user-plus">

            </i>
          </div>

          <div class="text">Register</div>
        </button>
        <button [routerLink]="['/Auth/Login']" class="Btn mx-3">

          <div class="sign">
            <svg viewBox="0 0 512 512">
              <path
                d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z">
              </path>
            </svg>
          </div>

          <div class="text">Login</div>
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid pt-5 operations-container">
    <div>

      <div class="container table-container py-3">
        <h3 class=" table-title p-3">Operations</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Description</th>
              <th>Label</th>
              <th>Explore</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>10/12</td>
              <td>Ventes</td>
              <td>Ventes de Camion</td>
              <td>Facture : N&deg;98765</td>

              <td><a href="" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat de matiere premieres</td>
              <td>Bon : N&deg;98765</td>

              <td><a href="" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat d`emballage</td>
              <td>Facture : N&deg;98765</td>

              <td><a href="" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat d`emballage</td>
              <td>Facture : N&deg;98765</td>

              <td><a href="" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat d`emballage</td>
              <td>Facture : N&deg;98765</td>

              <td><a href="" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat d`emballage</td>
              <td>Facture : N&deg;98765</td>

              <td><a href="" class="btn btn-dark">Detail</a></td>
            </tr>
            <tr>
              <td>10/12</td>
              <td>Achat</td>
              <td>Achat d`emballage</td>
              <td>Facture : N&deg;98765
                Facture : N&deg;98765
              </td>

              <td><a href="" class="btn btn-dark">Detail</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>